{% extends "admin/change_list.html" %}

{% block content_title %}
    {{ block.super }}
    {% if connect_facebook_button %}
        <div style="margin-bottom: 20px;">
            {{ connect_facebook_button|safe }}
            <p style="margin-top: 10px; color: #666;">
                Click "Connect to Facebook" to automatically connect your Facebook pages. 
                You'll be redirected to Facebook to authorize the connection.
            </p>
        </div>
    {% endif %}
{% endblock %}
